In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
from past.builtins import xrange
import datetime
from datetime import timedelta
from pandas import DataFrame
from scipy.fftpack import fft, ifft,dct
import pywt
import scipy.stats as stats
from sklearn.metrics import classification_report, accuracy_score, make_scorer

import warnings
warnings.filterwarnings("ignore")

In [2]:
insulin_data1=pd.read_csv('InsulinData.csv',low_memory=False, parse_dates = [['Date', 'Time']])[['Date_Time', 'BWZ Carb Input (grams)']]
cgm_data1=pd.read_csv('CGMData.csv',low_memory=False,parse_dates = [['Date', 'Time']])

In [3]:
insulin_data2=pd.read_excel('InsulinAndMealIntake670GPatient3.xlsx', parse_dates = [['Date', 'Time']])[['Date_Time', 'BWZ Carb Input (grams)']]
cgm_data2=pd.read_excel('CGMData670GPatient3.xlsx',parse_dates = [['Date', 'Time']])

In [4]:
def trimData(insulin_data, cgm_data):
    min_insulin_time = min(insulin_data['Date_Time'])
    min_cgm_time = min(cgm_data['Date_Time'])
    min_timestamp = max(min_insulin_time, min_cgm_time)
    max_insulin_time = max(insulin_data['Date_Time'])
    max_cgm_time = max(cgm_data['Date_Time'])
    max_timestamp = min(max_insulin_time, max_cgm_time)
    insulin_trimmed = insulin_data[(insulin_data['Date_Time'] >= min_timestamp)]
    insulin_trimmed = insulin_trimmed.reset_index(drop=True)
    insulin_trimmed = insulin_data[(insulin_data['Date_Time'] <= max_timestamp)]
    insulin_trimmed = insulin_trimmed.reset_index(drop=True)
    cgm_trimmed = cgm_data[(cgm_data['Date_Time'] >= min_timestamp)]
    cgm_trimmed = cgm_trimmed.reset_index(drop=True)
    cgm_trimmed = cgm_data[(cgm_data['Date_Time'] <= max_timestamp)]
    cgm_trimmed = cgm_trimmed.reset_index(drop=True)
    return insulin_trimmed, cgm_trimmed

In [5]:
insulin_data1_trimmed, cgm_data1_trimmed = trimData(insulin_data1, cgm_data1)
insulin_data2_trimmed, cgm_data2_trimmed = trimData(insulin_data2, cgm_data2)

In [6]:
Bool_carbinput_data1=pd.notnull(insulin_data1_trimmed['BWZ Carb Input (grams)'])
Bool_carbinput_data2=pd.notnull(insulin_data2_trimmed['BWZ Carb Input (grams)'])
insuline_data_ext1=insulin_data1_trimmed[Bool_carbinput_data1]
insuline_data_ext2=insulin_data2_trimmed[Bool_carbinput_data2]
insuline_data_ext1 = insuline_data_ext1[insuline_data_ext1['BWZ Carb Input (grams)'] != 0].sort_values(by=['Date_Time'], ignore_index = True)
insuline_data_ext1 = insuline_data_ext1.reset_index(drop=True)
insuline_data_ext2 = insuline_data_ext2[insuline_data_ext2['BWZ Carb Input (grams)'] != 0].sort_values(by=['Date_Time'], ignore_index = True)
insuline_data_ext2 = insuline_data_ext2.reset_index(drop=True)

In [7]:
def extract_meal_cgm_timestamps(meal_dataframe):
    meal_data = []
    meal_len = len(meal_dataframe)-1
    for row in range(0,meal_len):
        new_time = meal_dataframe.at[row, 'Date_Time'] + timedelta(hours = 2)
        if(new_time > meal_dataframe.at[row+1, 'Date_Time']):
           continue
        else:
             meal_data.append(meal_dataframe.at[row, 'Date_Time'])
    meal_dataframe_fin = pd.DataFrame(meal_data)
    return meal_dataframe_fin

In [8]:
# result = []
meal_data1 = extract_meal_cgm_timestamps(insuline_data_ext1)
meal_data2 = extract_meal_cgm_timestamps(insuline_data_ext2)
print(meal_data2)

                      0
0   2017-09-05 13:14:52
1   2017-09-05 19:32:23
2   2017-09-06 08:48:28
3   2017-09-06 13:22:26
4   2017-09-06 19:27:21
..                  ...
398 2018-03-04 18:38:57
399 2018-03-05 11:52:19
400 2018-03-05 17:19:29
401 2018-03-06 10:22:37
402 2018-03-06 12:40:57

[403 rows x 1 columns]

In [9]:
cgm_data1_trimmed['Sensor Glucose (mg/dL)'] = cgm_data1_trimmed['Sensor Glucose (mg/dL)'].interpolate(method = 'linear')
cgm_data2_trimmed['Sensor Glucose (mg/dL)'] = cgm_data2_trimmed['Sensor Glucose (mg/dL)'].interpolate(method = 'linear')

In [10]:
cgm_data1_trimmed = cgm_data1_trimmed[['Date_Time','Sensor Glucose (mg/dL)']]
cgm_data1_trimmed = cgm_data1_trimmed.reindex(index=cgm_data1_trimmed.index[::-1])
cgm_data1_trimmed = cgm_data1_trimmed.reset_index(drop=True)
cgm_data2_trimmed = cgm_data2_trimmed[['Date_Time','Sensor Glucose (mg/dL)']]
cgm_data2_trimmed = cgm_data2_trimmed.reindex(index=cgm_data2_trimmed.index[::-1])
cgm_data2_trimmed = cgm_data2_trimmed.reset_index(drop=True)

In [11]:
def extract_nomeal_cgm_timestamps(no_meal_dataframe):
    no_meal_data = []
    len_no_meal_dataframe = len(no_meal_dataframe)-1
    for row in range(len_no_meal_dataframe):
        new_time = no_meal_dataframe.loc[row, 0] + timedelta(hours = 4)
        if( new_time > no_meal_dataframe.at[row+1, 0]):
            continue
        else:
            two_hrs = timedelta(hours = 2) 
            st_time = no_meal_dataframe.at[row, 0] + two_hrs
            diff = st_time - no_meal_dataframe.at[row+1,0]
            if (diff.days>0):
                hours = int((diff.days*24*3600 + diff.seconds)//3600) 
            else:
                hours = int(diff.seconds//3600)
            for i in range(2,hours,2):
                if st_time + timedelta(hours = i) <= no_meal_dataframe.at[row+1, 0]: 
                    no_meal_data.append(st_time + timedelta(hours = i) )
                
           
    no_meal_data = pd.DataFrame(no_meal_data)
    return no_meal_data

In [12]:
nomeal_data1 = extract_nomeal_cgm_timestamps(meal_data1)
nomeal_data2 = extract_nomeal_cgm_timestamps(meal_data2)
print(nomeal_data2)

                      0
0   2017-09-05 17:14:52
1   2017-09-05 19:14:52
2   2017-09-05 23:32:23
3   2017-09-06 01:32:23
4   2017-09-06 03:32:23
..                  ...
916 2018-03-05 02:38:57
917 2018-03-05 15:52:19
918 2018-03-05 21:19:29
919 2018-03-05 23:19:29
920 2018-03-06 01:19:29

[921 rows x 1 columns]

In [13]:
def meal_cgm_extraction(meal_cgm_dataframe, cgmdata):
    list1 = ['cgm_val'+str(x) for x in range(30)]
    meal_data = pd.DataFrame(columns = list1)
    for id in meal_cgm_dataframe.index:
        dict1 = dict()
        data_sets = cgmdata[cgmdata['Date_Time'] >= meal_cgm_dataframe[0][id]]
        data_set_list = list(cgmdata.loc[data_sets.index[0]-6: data_sets.index[0]+23, 'Sensor Glucose (mg/dL)'].values)
        cgm_list=[]
        for id1, cgm_val in enumerate(data_set_list):
            cgm_list.append(cgm_val)
            for cgm in cgm_list:
              dict1[list1[id1]] = cgm_val
        meal_data = meal_data.append(dict1, ignore_index = True)
    return meal_data

In [14]:
cgm_meal1 = meal_cgm_extraction(meal_data1, cgm_data1_trimmed)
cgm_meal2 = meal_cgm_extraction(meal_data2, cgm_data2_trimmed)
print(cgm_meal1)

       cgm_val0    cgm_val1    cgm_val2  ...  cgm_val27  cgm_val28  cgm_val29
0    314.000000  310.000000  309.000000  ...        NaN        NaN        NaN
1     58.000000   59.000000   63.000000  ...      198.0      203.0      196.0
2    304.000000  292.000000  281.000000  ...      284.0      283.0      278.0
3     40.000000   40.000000   40.000000  ...       74.0       77.0       81.0
4    212.000000  210.000000  204.000000  ...      209.0      210.0      209.0
..          ...         ...         ...  ...        ...        ...        ...
598   57.000000   58.000000   62.000000  ...      191.0      197.0      202.0
599  209.000000  219.000000  221.000000  ...      212.0      215.0      208.0
600  169.176471  167.941176  166.705882  ...      123.0      106.0      107.0
601  106.000000  107.000000  100.000000  ...      200.0      194.0      177.0
602   89.000000   80.000000   69.000000  ...       92.0       93.0       86.0

[603 rows x 30 columns]

In [15]:
def nomeal_cgm_extraction(no_meal_cgm_dataframe, cgmdata):
    list1 = ['cgm_val'+str(x) for x in range(24)]
    no_meal_data = pd.DataFrame(columns = list1)
    #print(data)
    for id in no_meal_cgm_dataframe.index:
        dict1 = dict()
        data_sets = cgmdata[cgmdata['Date_Time'] >= no_meal_cgm_dataframe[0][id]]
        #print(temp1)
        data_set_list = list(cgmdata.loc[data_sets.index[0]-0: data_sets.index[0]+23, 'Sensor Glucose (mg/dL)'].values)
        cgm_list=[]
        #print(inputs)
        for id1, cgm_val in enumerate(data_set_list):
          cgm_list.append(cgm_val)
          for cgm in cgm_list:
            dict1[list1[id1]] = cgm
        no_meal_data = no_meal_data.append(dict1, ignore_index = True)
    return no_meal_data

In [16]:
cgm_nomeal1 = nomeal_cgm_extraction(nomeal_data1, cgm_data1_trimmed)
cgm_nomeal2 = nomeal_cgm_extraction(nomeal_data2, cgm_data2_trimmed)
print(cgm_nomeal2)

     cgm_val0  cgm_val1  cgm_val2  ...  cgm_val21  cgm_val22  cgm_val23
0        93.0      88.0      83.0  ...      127.0      131.0      132.0
1       130.0     128.0     127.0  ...      223.0      227.0      229.0
2       142.0     140.0     137.0  ...      106.0      110.0      129.0
3       130.0     126.0     120.0  ...      165.0      170.0      174.0
4       177.0     179.0     182.0  ...      202.0      199.0      194.0
..        ...       ...       ...  ...        ...        ...        ...
916     160.0     162.0     164.0  ...      158.0      157.0      155.0
917     153.0     154.0     155.0  ...      167.0      153.0      138.0
918     184.0     187.0     186.0  ...      155.0      151.0      147.0
919     142.0     138.0     135.0  ...      102.0      102.0      102.0
920     103.0     105.0     103.0  ...      112.0      111.0      111.0

[921 rows x 24 columns]

In [17]:
meal_cgm_master = pd.concat([cgm_meal1,cgm_meal2]).reset_index(drop=True)
no_meal_cgm_master = pd.concat([cgm_nomeal1,cgm_nomeal2]).reset_index(drop=True)
meal_cgm_master_list = meal_cgm_master.values.tolist()
no_meal_cgm_master_list = no_meal_cgm_master.values.tolist()

In [18]:
meal_cgm_master

      cgm_val0  cgm_val1  cgm_val2  ...  cgm_val27  cgm_val28  cgm_val29
0        314.0     310.0     309.0  ...        NaN        NaN        NaN
1         58.0      59.0      63.0  ...      198.0      203.0      196.0
2        304.0     292.0     281.0  ...      284.0      283.0      278.0
3         40.0      40.0      40.0  ...       74.0       77.0       81.0
4        212.0     210.0     204.0  ...      209.0      210.0      209.0
...        ...       ...       ...  ...        ...        ...        ...
1001     190.0     189.0     187.0  ...      148.0      154.0      153.0
1002     146.0     143.0     140.0  ...      211.0      202.0      192.0
1003     201.0     198.0     198.0  ...       84.0       96.0      109.0
1004     159.0     158.0     152.0  ...      164.0      172.0      179.0
1005     172.0     179.0     186.0  ...      130.0      120.0      115.0

[1006 rows x 30 columns]

In [19]:
no_meal_cgm_master

      cgm_val0  cgm_val1  cgm_val2  ...  cgm_val21  cgm_val22  cgm_val23
0        160.0     145.0     134.0  ...       63.0       71.0       81.0
1         86.0      81.0      75.0  ...      102.0      131.0      140.0
2         64.0      67.0      69.0  ...       67.0       72.0       78.0
3         86.0      89.0      90.0  ...       92.0       99.0      106.0
4        114.0     115.0     115.0  ...      118.0      119.0      119.0
...        ...       ...       ...  ...        ...        ...        ...
2016     160.0     162.0     164.0  ...      158.0      157.0      155.0
2017     153.0     154.0     155.0  ...      167.0      153.0      138.0
2018     184.0     187.0     186.0  ...      155.0      151.0      147.0
2019     142.0     138.0     135.0  ...      102.0      102.0      102.0
2020     103.0     105.0     103.0  ...      112.0      111.0      111.0

[2021 rows x 24 columns]

In [20]:
def diff_max_min_cgm(meal_list,row):
  max_cgm_val = max(meal_list[row])
  min_cgm_val = min(meal_list[row])
  result = max_cgm_val - min_cgm_val
  return (result)

difference_list_meal = []
for row in range (len(meal_cgm_master_list)):
  difference = diff_max_min_cgm(meal_cgm_master_list,row)
  difference_list_meal.append(difference)
difference_df_meal = pd.DataFrame(difference_list_meal) 
difference_df_meal

difference_list_no_meal = []
for row in range (len(no_meal_cgm_master_list)):
  difference = diff_max_min_cgm(no_meal_cgm_master_list,row)
  difference_list_no_meal.append(difference)
difference_df_no_meal = pd.DataFrame(difference_list_no_meal) 
difference_df_no_meal

          0
0     102.0
1      97.0
2      25.0
3      25.0
4      16.0
...     ...
2016   20.0
2017   65.0
2018   40.0
2019   40.0
2020   12.0

[2021 rows x 1 columns]

In [21]:
def coeff_of_var(meal_data,row):
  mean = np.mean(meal_data[row])
  std_dev = np.std(meal_data[row])
  result = mean/std_dev
  return (result)

coeff_of_var_meal_list = []
for row in range(len(meal_cgm_master_list)):
    coeff_val = coeff_of_var(meal_cgm_master_list,row)
    coeff_of_var_meal_list.append(coeff_val)
coeff_of_var_df_meal = pd.DataFrame(coeff_of_var_meal_list) 
coeff_of_var_df_meal 

coeff_of_var_no_meal_list = []
for row in range(len(no_meal_cgm_master_list)):
    coeff_val = coeff_of_var(no_meal_cgm_master_list,row)
    coeff_of_var_no_meal_list.append(coeff_val)
coeff_of_var_df_no_meal = pd.DataFrame(coeff_of_var_no_meal_list) 
coeff_of_var_df_no_meal

              0
0      3.319658
1      2.621308
2     10.834981
3     18.424073
4     29.829437
...         ...
2016  23.482671
2017   9.060195
2018  16.697689
2019   9.304049
2020  24.647578

[2021 rows x 1 columns]

In [22]:
def discrete_wavelet_trans(meal_data,row):
  (cA,cD) = pywt.dwt(meal_data[row], 'db1')
  cA = cA[::-1][0:8]
  return (cA,cD)

x_meal=[]
for row in range(len(meal_cgm_master_list)):
  x1,y1 = discrete_wavelet_trans(meal_cgm_master_list,row)
  x_meal.append(list(x1))
  discrete_wavelet_df_meal = pd.DataFrame(x_meal)  
discrete_wavelet_df_meal 

x_no_meal=[]
for row in range(len(no_meal_cgm_master_list)):
  x1,y1 = discrete_wavelet_trans(no_meal_cgm_master_list,row)
  x_no_meal.append(list(x1))
  discrete_wavelet_df_no_meal = pd.DataFrame(x_no_meal)  
discrete_wavelet_df_no_meal

               0           1           2  ...           5           6           7
0     107.480231   85.559921   85.559921  ...  118.086832  124.450793  137.885822
1     191.625938  129.400541   94.752309  ...   67.175144   64.346717   61.518290
2     106.066017   92.630988   91.216775  ...   89.095454   82.024387   75.660426
3     144.956890  127.986327  130.107648  ...  132.228968  118.793939  120.208153
4     168.291414  166.170094  166.170094  ...  161.220346  157.684812  159.806133
...          ...         ...         ...  ...         ...         ...         ...
2016  220.617316  223.445743  219.910209  ...  246.780267  247.487373  244.658946
2017  205.768073  239.709199  255.972655  ...  280.014285  285.671140  284.256926
2018  210.717821  221.324423  227.688384  ...  231.931024  233.345238  232.638131
2019  144.249783  144.956890  146.371104  ...  159.806133  163.341666  171.119841
2020  156.977705  158.391919  158.391919  ...  155.563492  152.027958  149.199531

[2021 rows x 8 columns]

In [23]:
def windowed_mean(meal_list,row):
  w_size = 5
  window_averages =[]
  i=0
  while i < len(meal_list[row]) - w_size +1: 
    nw_size = meal_list[row][i : i + w_size]
    w_average = sum(nw_size)/w_size
    window_averages.append(w_average)
    i+=w_size
  # print(len(window_averages))
  return (window_averages[1:5]) 

windowed_average_list_meal = []
for row in range (len(meal_cgm_master_list)):
  average_list = windowed_mean(meal_cgm_master_list,row)
  windowed_average_list_meal.append(average_list)
windowed_average_list_df_meal = pd.DataFrame(windowed_average_list_meal)
windowed_average_list_df_meal

windowed_average_list_no_meal = []
for row in range (len(no_meal_cgm_master_list)):
  average_list = windowed_mean(no_meal_cgm_master_list,row)
  windowed_average_list_no_meal.append(average_list)
# print(windowed_average_list_no_meal)
windowed_average_list_df_no_meal = pd.DataFrame(windowed_average_list_no_meal)
windowed_average_list_df_meal

          0      1      2      3
0     315.0  315.6  291.6    NaN
1     134.6  157.0  162.6  172.6
2     239.0  222.6  244.4  271.4
3      90.6  126.2   82.6   71.8
4     193.4  172.8  190.2  212.8
...     ...    ...    ...    ...
1001  184.0  210.8  202.0  165.4
1002  108.8  181.6  230.2  245.4
1003  186.2  140.0  112.2  115.4
1004  141.2  144.8  144.4  147.8
1005  234.6  239.6  175.0  130.6

[1006 rows x 4 columns]

In [24]:
def calc_peaks_fouriertrans(meal_list,row):
    fouriertrans = list()
    peak_feat = list()
    arr = np.array(meal_list[row])
    # print(fft(arr))
    fouriertrans.append(abs(fft(arr)))
    for val in range(len(fouriertrans)):
      sets = set(fouriertrans[val])  
      set_list = list(sets)
      set_list.sort()
      set_list = set_list[::-1][0:8]
      # print(set_list)
      peak_feat+=set_list
    # print(peak_feat)
    return (fouriertrans,peak_feat)  


x_meal=[]
y_meal=[]
for row in range(len(meal_cgm_master_list)):
  x1,y1 = calc_peaks_fouriertrans(meal_cgm_master_list,row)
  x_meal.append(x1)
  y_meal.append(list(y1))
# print(len(y_meal))
peak_valdf_meal = pd.DataFrame(y_meal)
peak_valdf_meal

x_no_meal=[]
y_no_meal=[]
for row in range(len(no_meal_cgm_master_list)):
  x1,y1 = calc_peaks_fouriertrans(no_meal_cgm_master_list,row)
  x_no_meal.append(x1)
  y_no_meal.append(y1)
# print(y_no_meal)
peak_valdf_no_meal = pd.DataFrame(y_no_meal)
peak_valdf_no_meal

           0           1           2  ...          5          6          7
0     2233.0  383.612103  200.266111  ...  58.180753  55.484858  52.943366
1     1612.0  367.509787  152.193452  ...  62.677642  50.931326  41.805321
2     1515.0   77.954818   44.953363  ...  15.264338  13.076697  12.155566
3     2183.0   47.244705   42.391123  ...  18.756088  17.003091  15.000000
4     2816.0   46.384040   26.000000  ...  13.058512   5.961899   5.587143
...      ...         ...         ...  ...        ...        ...        ...
2016  3966.0  113.601913   27.687309  ...   7.940799   5.099020   4.000000
2017  4333.0  323.344680   77.155831  ...  25.338433  24.952746  19.078784
2018  3984.0   92.077790   90.229890  ...  32.825413  27.712813  24.863800
2019  2806.0  172.145768   81.445509  ...  34.473751  31.112698  25.119713
2020  2578.0   69.626167   18.875298  ...   5.647964   5.602626   5.291503

[2021 rows x 8 columns]

In [25]:
 #def rank1(meal_cgm_master_list):
def calc_rank_row(meal_data,row):
  rank = [0 for x in range(len(meal_data[row]))]
  for j in range (len(meal_data[row])):
    (r,s)=(1,1)
    for k in range (len(meal_data[row])):
      if k != j and meal_data[row][k] < meal_data[row][j]:
        r += 1
      if k != j and meal_data[row][k] == meal_data[row][j]:
        s += 1       
    rank[j] = r + (s - 1) / 2
  return (rank) 

rank_list_meal=[]
for row in range(len(meal_cgm_master_list)):
    ranks_list_meal = calc_rank_row(meal_cgm_master_list,row)
    rank_list_meal.append(ranks_list_meal)

ranks_list_df_meal = pd.DataFrame(rank_list_meal)
ranks_list_df_meal = ranks_list_df_meal.iloc[:,:24]

rank_list_no_meal=[]
for row in range(len(no_meal_cgm_master_list)):
  ranks_list_no_meal = calc_rank_row(no_meal_cgm_master_list,row)
  rank_list_no_meal.append(ranks_list_no_meal)

ranks_list_df_no_meal = pd.DataFrame(rank_list_no_meal)
ranks_list_df_no_meal = ranks_list_df_no_meal.iloc[:,:24]

In [26]:
ranks_list_df_no_meal

        0     1     2     3     4     5   ...    18    19    20    21    22    23
0     24.0  23.0  22.0  21.0  20.0  19.0  ...   3.0   2.0   1.0   4.0   7.0  10.0
1     21.0  19.5  18.0  16.5  15.0  11.0  ...  14.0  16.5  19.5  22.0  23.0  24.0
2     12.5  20.0  22.0  20.0   9.0   7.0  ...  17.0  12.5  12.5  20.0  23.0  24.0
3      3.0   7.5  11.0   7.5   7.5  11.0  ...  19.0  13.5   7.5  16.5  23.0  24.0
4      6.0   8.5   8.5  22.5  24.0  22.5  ...  14.0  11.5  11.5  14.0  17.0  17.0
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
2016   8.0  10.0  11.0  12.0  13.5  15.0  ...   1.5   3.0   6.5   6.5   4.5   1.5
2017   2.5   4.0   5.0   6.0   7.5  10.5  ...  13.0  10.5   9.0   7.5   2.5   1.0
2018  22.0  24.0  23.0  21.0  20.0  18.5  ...   7.0   5.0   4.0   3.0   2.0   1.0
2019  24.0  23.0  22.0  21.0  20.0  19.0  ...   6.0   4.5   4.5   2.0   2.0   2.0
2020   6.0   8.5   6.0   3.5   1.5   1.5  ...  21.5  21.5  21.5  21.5  16.5  16.5

[2021 rows x 24 columns]

In [27]:
def z_score_feat(meal_list,row):
  z_score_arr = np.array(meal_list[row])
  z_score_list = stats.zscore(z_score_arr)
  return (z_score_list)

z_scores_meal=[]
for row in range (len(meal_cgm_master_list)):
  z_score_res_list = z_score_feat(meal_cgm_master_list,row)
  z_scores_meal.append(z_score_res_list)
z_score_res_list_df_meal = pd.DataFrame(z_scores_meal)
z_score_res_list_df_meal = z_score_res_list_df_meal.iloc[:,:24]

z_scores_no_meal=[]
for row in range (len(no_meal_cgm_master_list)):
  z_score_res_list = z_score_feat(no_meal_cgm_master_list,row)
  z_scores_no_meal.append(z_score_res_list)
z_score_res_list_df_no_meal = pd.DataFrame(z_scores_no_meal)
z_score_res_list_df_no_meal = z_score_res_list_df_no_meal.iloc[:,:24]

In [28]:
z_score_res_list_df_no_meal

            0         1         2   ...        21        22        23
0     2.389024  1.853835  1.461363  ... -1.071865 -0.786430 -0.429638
1     0.735007  0.539872  0.305711  ...  1.359438  2.491218  2.842461
2     0.150188  0.665118  1.008404  ...  0.665118  1.523334  2.553193
3    -1.004336 -0.396670 -0.194115  ...  0.210995  1.628880  3.046766
4    -0.847427 -0.593199 -0.593199  ...  0.169485  0.423714  0.423714
...        ...       ...       ...  ...       ...       ...       ...
2016 -0.746046 -0.461838 -0.177630  ... -1.030253 -1.172357 -1.456565
2017 -1.382135 -1.331951 -1.281768  ... -0.679567 -1.382135 -2.134886
2018  1.810593  2.112358  2.011770  ... -1.106473 -1.508827 -1.911181
2019  1.996093  1.677779  1.439044  ... -1.187045 -1.187045 -1.187045
2020 -1.013438 -0.554523 -1.013438  ...  1.051681  0.822223  0.822223

[2021 rows x 24 columns]

In [30]:
meal_data = pd.concat([difference_df_meal,coeff_of_var_df_meal,discrete_wavelet_df_meal,windowed_average_list_df_meal,peak_valdf_meal,ranks_list_df_meal,z_score_res_list_df_meal])
no_meal_data = pd.concat([difference_df_no_meal,coeff_of_var_df_no_meal,discrete_wavelet_df_no_meal,windowed_average_list_df_no_meal,peak_valdf_no_meal,ranks_list_df_no_meal,z_score_res_list_df_no_meal])
meal_data['Class_label']=1
no_meal_data['Class_label']=0

In [31]:
from sklearn.utils import shuffle
dataset = shuffle(pd.concat([meal_data,no_meal_data]).fillna(0)).reset_index().drop(columns = ['index'])
dataset1 = dataset.drop(columns = 'Class_label')
print(dataset1)

                0           1           2           3   ...    20    21    22    23
0      6652.000000  582.535792  193.411766  108.010505  ...   0.0   0.0   0.0   0.0
1         8.144479    0.000000    0.000000    0.000000  ...   0.0   0.0   0.0   0.0
2       231.223917  210.010714  207.889394  205.768073  ...   0.0   0.0   0.0   0.0
3       152.735065  154.149278  154.149278  152.735065  ...   0.0   0.0   0.0   0.0
4        16.500000    9.000000    6.500000    9.000000  ...  21.5  21.5  23.0  24.0
...            ...         ...         ...         ...  ...   ...   ...   ...   ...
21184    82.731493   94.752309  115.965512  141.421356  ...   0.0   0.0   0.0   0.0
21185   265.644444  243.000000  177.200000  148.000000  ...   0.0   0.0   0.0   0.0
21186     6.427781    0.000000    0.000000    0.000000  ...   0.0   0.0   0.0   0.0
21187   161.800000  167.800000  145.200000  157.200000  ...   0.0   0.0   0.0   0.0
21188   180.000000  167.600000  157.400000    0.000000  ...   0.0   0.0   0.0   0.0

[21189 rows x 24 columns]

In [32]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from scipy import stats

feat_dataset = StandardScaler().fit_transform(dataset1)

pca = PCA(n_components= 15)
pca_component_extract = pca.fit_transform(feat_dataset)
pca_dataframe = pd.DataFrame(data = pca_component_extract, columns = ['PC 1', 'PC 2','PC 3','PC 4','PC 5','PC 6','PC 7','PC 8','PC 9','PC 10','PC 11','PC 12','PC 13','PC 14','PC 15'])

In [33]:
pca_dataframe['Class_label'] = dataset['Class_label']
pca_dataset = pca_dataframe.drop(columns = ['Class_label'])

def score_calc(model, x_train,x_test,y_train,y_test):
    model = model
    model.fit(x_train,y_train)
    #print(classification_report(y_train, y_test))
    return model.score(x_test,y_test)

scores_list = []
from sklearn.svm import SVC
from sklearn.model_selection import KFold
k_fold = KFold(n_splits=10)
for train_index, test_index in k_fold.split(pca_dataset):
    print("TRAIN:", train_index, "TEST:", test_index)
    
    x_train = pca_dataset.loc[train_index]
    x_test = pca_dataset.loc[test_index]
    y_train = pca_dataframe['Class_label'].loc[train_index]
    y_test = pca_dataframe['Class_label'].loc[test_index]
    pca_dataframe.Class_label.loc[train_index],pca_dataframe.Class_label.loc[test_index]
    
    scores = score_calc(SVC(), x_train, x_test, y_train, y_test)
    scores_list.append(scores)
    print(scores_list)

print(np.mean(scores_list))

TRAIN: [ 2119  2120  2121 ... 21186 21187 21188] TEST: [   0    1    2 ... 2116 2117 2118]
[0.7781972628598396]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [2119 2120 2121 ... 4235 4236 4237]
[0.7781972628598396, 0.7678150070788108]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [4238 4239 4240 ... 6354 6355 6356]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [6357 6358 6359 ... 8473 8474 8475]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [ 8476  8477  8478 ... 10592 10593 10594]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [10595 10596 10597 ... 12711 12712 12713]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319, 0.7616800377536573]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [12714 12715 12716 ... 14830 14831 14832]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319, 0.7616800377536573, 0.7701746106654083]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [14833 14834 14835 ... 16949 16950 16951]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319, 0.7616800377536573, 0.7701746106654083, 0.758376592732421]
TRAIN: [    0     1     2 ... 21186 21187 21188] TEST: [16952 16953 16954 ... 19068 19069 19070]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319, 0.7616800377536573, 0.7701746106654083, 0.758376592732421, 0.757432751297782]
TRAIN: [    0     1     2 ... 19068 19069 19070] TEST: [19071 19072 19073 ... 21186 21187 21188]
[0.7781972628598396, 0.7678150070788108, 0.7663992449268523, 0.7678150070788108, 0.7852760736196319, 0.7616800377536573, 0.7701746106654083, 0.758376592732421, 0.757432751297782, 0.7700661000944287]
0.7683232688107642

In [34]:
from sklearn.svm import SVC
SVM_Classifier = SVC()
x_axis = pca_dataset 
y_axis = pca_dataframe['Class_label']
SVM_Classifier.fit(x_axis,y_axis)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
predicted_labels = SVM_Classifier.predict(x_axis)

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_axis, predicted_labels))

              precision    recall  f1-score   support

           0       0.75      0.99      0.85     14147
           1       0.93      0.33      0.49      7042

    accuracy                           0.77     21189
   macro avg       0.84      0.66      0.67     21189
weighted avg       0.81      0.77      0.73     21189

In [37]:
# Using reference : https://scikit-learn.org/stable/modules/model_persistence.html
from joblib import dump, load
dump(SVM_Classifier, 'SVM_Classifier.pickle')

['SVM_Classifier.pickle']